:root {
    --body-bg-color: #f8f8f8;
    --body-text-color: #000000;

    --header-bg-color: #285e8e;
    --header-text-color: #fffaf0;

    --nav-bg-color: #1f1f1f;
    --nav-text-color: #ffffff;
    --nav-border-color: #285e8e;
    --nav-hover-bg-color: #fffaf0;
    --nav-hover-color: #285e8e;

    --footer-bg-color: #1f1f1f;;
    --footer-text-color: #ffffff;
    --footer-active-link-color: #ffffff;

    --headline-text-color: #285e8e;
    --article-box-bg-color: #ffffff;

    --link-text-color: #285e8e;
    --link-visited-text-color: #b94eff;
    --code-text-color: #000000;
    --code-bg-color: #ffffff;
}