/* Import syntax themes */
@import "syntax-light.css" screen;
@import "syntax-dark.css" screen and (prefers-color-scheme: dark);

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'rubik';
	font-style: normal;
	font-weight: normal;
	src: url("fonts/Rubik-Regular.woff2") format("woff2");
	font-display: swap
}

@font-face {
	font-family: 'rubik';
	src: url("fonts/Rubik-Bold.woff2") format("woff2");
	font-weight: bold;
	font-display: swap
}

@font-face {
	font-family: 'rubik';
	src: url("fonts/Rubik-Italic.woff2") format("woff2");
	font-style: italic;
	font-display: swap
}

@font-face {
	font-family: 'rubik';
	src: url("fonts/Rubik-BoldItalic.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
	font-display: swap
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "rubik", Helvetica, Arial, sans-serif;
	font-size: 100%;
	background-color: var(--body-bg-color);
	color: var(--body-text-color);
}

@media (prefers-color-scheme: light) {
	:root {
		--body-bg-color: #ffffff;
		--body-text-color: #000000;

		--header-bg-color: #285e8e;
		--header-text-color: #fffaf0;

		--nav-bg-color: #1f1f1f;
		--nav-text-color: #ffffff;
		--nav-hover-bg-color: #fffaf0;
		--nav-border-color: #285e8e;
		--nav-hover-color: #285e8e;

		--footer-bg-color: #1f1f1f;;
		--footer-text-color: #ffffff;
		--footer-active-link-color: #ffffff;

		--headline-text-color: #285e8e;
		--article-box-bg-color: #f8f8f8;

		--link-text-color: #285e8e;
		--link-visited-text-color: #c58af9;
		--code-text-color: #000000;
		--code-bg-color: #f8f8f8;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--body-bg-color: #000000;
		--body-text-color: #ffffff;

		--header-bg-color: #132d44;
		--header-text-color: #fffaf0;

		--nav-bg-color: #1f1f1f;
		--nav-border-color: #132d44;
		--nav-hover-bg-color: #000000;
		--nav-hover-color: #ffffff;

		--footer-bg-color: #1f1f1f;;
		--footer-text-color: #ffffff;
		--footer-active-link-color: #ffffff;

		--article-box-bg-color: #1f1f1f;
		--headline-text-color: #3a8cd3;

		--link-text-color: #8ab4f8;
		--link-visited-text-color: #c58af9;
		--code-text-color: #ffffff;
		--code-bg-color: #1f1f1f;
	}
}

#container {
	height: 100vh;
	display: grid;
	grid-template-rows: 80px 1fr 30px;
	grid-template-columns: minmax(150px, 20%) 30% 35% minmax(100px, 15%);
	grid-template-areas:
		"header header header header"
		"nav content content sidebar"
		"footer footer footer footer"
	;
}

@media screen and (max-width: 70em) {
	#container {
		height: 100vh;
		grid-template-areas: 	
							"header"
							"nav"
							"content"
							"sidebar"
							"footer"
		;

		grid-template-columns: 100%;
		grid-template-rows:
							80px
							min-content
							min-content
							min-content
							40px
		;
	}
}

/**
  * General styles
 */

h1, h2, h3, h4, h5, h6 {
	color: var(--headline-text-color);
	font-weight: 700;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.5em;
}

a {
	color: var(--link-text-color);
	text-decoration: underline;
}

a:hover,
a:focus {
	color: var(--link-text-color);
	text-decoration: none;
}

a:visited {
	color: var(--link-visited-text-color);
}

/*
 * Layout positioning
*/
#container>main {
	grid-area: content;
	width: 100%;
	padding: 0 1em 1em 1em;
}

#container>header#page-header {
	display: flex;
	grid-area: header;
	align-items: center;
	justify-content: left;
	background-color: var(--header-bg-color);
}

#container>nav {
	grid-area: nav;
	background-color: var(--nav-bg-color);
	font-size: 1.1em;
}

#container>aside {
	color: var(--nav-text-color);
	grid-area: sidebar;
	background-color: var(--nav-bg-color);
	font-size: 1.1em;
}


header#page-header {
	padding-left: 20px;
}


#page-header h1 {
	color: var(--header-text-color);
}

/**
 * Navigation styles left and right side
 */

#container>aside ul li:first-child {
	padding: 1rem 0.5rem;
	font-size: 1.3em;
	border-bottom: 0.0625rem solid var(--nav-border-color);
}

#container>aside a,
#container>nav a,
#container>aside a:visited,
#container>nav a:visited {
	color: var(--nav-text-color);
	display: inline-block;
	border-bottom: 0.0625rem solid var(--nav-border-color);
	padding: 1rem 0.5rem;
	width: 100%;
	text-decoration: none;
}

#container>nav a:active,
#container>nav a:hover,
#container>nav a:active,
#container>nav a.active {
	color: var(--nav-hover-color);
	background-color: var(--nav-hover-bg-color);
	border-right: 0.3125rem solid var(--nav-border-color);
}

#container>aside a:active,
#container>aside a:hover,
#container>aside a:active,
#container>aside a.active {
	color: var(--nav-hover-color);
	background-color: var(--nav-hover-bg-color);
	border-left: 0.3125rem solid var(--nav-border-color);
}

/**
 * Footer styles
 */
#container>footer {
	grid-area: footer;
	background-color: var(--footer-bg-color);
	color: var(--footer-text-color);
	text-align: center;
	font-size: 0.9em;
}

#container>footer p {
	padding-top: 5px;
	padding-left: 5px;
	margin: auto;
}

#container>footer ul {
	list-style-type: none;
}

#container>footer ul li {
	display: inline-block;
	list-style-type: none;
	padding: 5px 0;
}

#container>footer a,
#container>footer a:visited {
	color: var(--footer-text-color);
	width: 100%;
	text-decoration: underline;
}

#container>footer a:active,
#container>footer a:hover,
#container>ooter a:active,
#container>footer a.active {
	color: var(--footer-active-link-color);
	text-decoration: none;
}

#container>nav li,
#container>aside li {
	list-style-type: none;
}

pre {
	display: block;
	font-size: 1.1em;
	white-space: pre;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	border: 1px solid grey;
	background-color: var(--code-bg-color);
	color: var(--code-text-color);
	padding: 1em;
	margin-bottom: 2em;
}

/* FIX for highlighted lines in code */
.chroma .hl {
	background-color: rgba(255, 255, 0, 0.1);
}

article {
	background-color: var(--article-box-bg-color);
	margin: 2em 1em 2em 1em;
	border: 1px dotted grey;
	padding: 15px;
}

article header {
	margin: 0;
	padding-bottom: 10px;
}

article header h1 {
	margin: 0;
	font-size: 2em;
}

article header h1 a {
	color: var(--headline-text-color);
}

article header p {
	font-size: 0.9em;
	margin: 0 0 1em 0;
	padding-bottom: 5px;
	border-bottom: 0.14rem solid #285e8e;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
	margin-top: 0;
	margin-bottom: 0.8em;
}

article h1 {
	font-size: 2em;
}

article h2 {
	font-size: 1.6em;
}

article h3 {
	font-size: 1.4em;
}

article h4 {
	font-size: 1.2em;
}

article h5 {
	font-size: 1.0em;
}

article h6 {
	font-size: 0.8em;
}

article ul,
article ol,
article p {
	font-size: 1.1em;
	margin-bottom: 20px;
	line-height: 1.5;
}

article ul,
article ol {
	margin-left: 2.2em;
}

article table {
	border-collapse: collapse;
	border: 1px solid gray;
	margin-bottom: 1.5em;
}

article td,
article th {
	border: 1px solid gray;
	padding: 0.5rem;
}

article th {
	font-weight: bold;
}


article footer {
	text-align: left;
}

article footer .tags {
	text-align: left;
	font-size: 0.9em;
}

article footer div.read-more {
	text-align: right;
}

.footnotes {
	margin-top: 0.4em;
	font-size: 0.7em;
}

article sup {
	margin-left: 0.1rem;
	font-weight: bold;
	font-size: 0.8em;
}

article hr {
	border: 1px dotted gray;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.highlight .chroma {
	background-color: var(--article-box-bg-color);
}

#pagination {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#pagination .pages {
	padding: 1em 0;
}

#index .menu {
	list-style-type: none;
}

#index .submenu {
	list-style-type: none;
	padding: 0.4em 0.8em;
}

#index .submenu-item {
	margin-bottom: 0.625rem;
	list-style-type: none;
}

#index .year {
	font-weight: 700;
	color: #285e8e;
	display: inline-block;
	list-style-type: none;
}
