:root {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

@font-face {
	font-family: rubik;
	font-style: normal;
	font-weight: normal;
	src: url("fonts/Rubik-Regular.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: rubik;
	src: url("fonts/Rubik-Bold.woff2") format("woff2");
	font-weight: bold;
	font-display: swap;
}

@font-face {
	font-family: rubik;
	src: url("fonts/Rubik-Italic.woff2") format("woff2");
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: rubik;
	src: url("fonts/Rubik-BoldItalic.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

body {
	font-family: rubik, Helvetica, Arial, sans-serif;
	font-size: 1.2rem;
	background-color: var(--body-bg-color);
	color: var(--body-text-color);
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--headline-text-color);
	font-weight: 700;
	margin: 0 0 0.8em 0;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.0em;
}

h6 {
	font-size: 0.8em;
}

.article__content p {
	font-size: 1.1em;
	margin-bottom: 20px;
	line-height: 1.5;
}

.article__content ul,
.article__content ol {
	margin-left: 1.0em;
}

.article__content table {
	border-collapse: collapse;
	border: 1px solid gray;
	margin-bottom: 1.5em;
}

.article__content .footnotes {
	margin-top: 0.4em;
	font-size: 0.7em;
}

.article__content sup {
	margin-left: 0.1rem;
	font-weight: bold;
	font-size: 0.8em;
}

.article__content hr {
	border: 1px dotted #132d44;
	margin-bottom: 1em;
	margin-top: 1em;
}

.article__content td,
.article__content th {
	border: 1px solid gray;
	padding: 0.5rem;
}

.article__content th {
	font-weight: bold;
}

.article__content pre {
	font-size: 1.1rem;
	display: block;
	white-space: pre-wrap;
	border: 1px solid grey;
	background-color: var(--code-bg-color);
	color: var(--code-text-color);
	padding: 1em;
	margin-bottom: 2em;
}

.article__content a:link,
.article-header a:link {
	color: var(--link-text-color);
	text-decoration: underline;
}

.article__content a:visited,
.article-header a:visited {
	color: var(--link-visited-text-color);
}

.article__content a:hover,
.article__content a:active,
.article__content a:focus,
.article-header a:hover,
.article-header a:active,
.article-header a:focus {
	color: var(--link-text-color);
	text-decoration: none;
}

.container {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: minmax(150px, 20%) 65% minmax(100px, 15%);
	grid-template-areas:
		"header header header"
		"nav content sidebar"
		"footer footer footer"
	;
}

.page-content {
	grid-area: content;
	width: 100%;
	padding: 0 1em 1em 1em;
}

.page-header {
	display: grid;
	grid-area: header;
	align-content: center;
	background-color: var(--header-bg-color);
}

.page-nav {
	font-size: 1.1em;
	grid-area: nav;
	background-color: var(--nav-bg-color);
}

.page-footer {
	font-size: 0.9em;
	display: grid;
	grid-area: footer;
	background-color: var(--footer-bg-color);
	color: var(--footer-text-color);
	justify-items: center;
	align-content: center;
}

.page-aside-nav {
	font-size: 1.1em;
	color: var(--nav-text-color);
	grid-area: sidebar;
	background-color: var(--nav-bg-color);
}

.page-nav > ul,
.page-aside-nav > ul {
	margin: 0;
	padding: 0;
}

.page-nav__items,
.page-aside-nav__items {
	list-style-type: none;
}

.page-header {
	padding-left: 1em;
}

.page-header__headline {
	margin: 0.5em 0;
	padding: 0;
	color: var(--header-text-color);
}

.nav-item {
	list-style-type: none;
	color: var(--nav-text-color);
}

.nav-title {
	font-size: 1.3em;
	padding: 1em 0.5em;
	border-bottom: 1px solid var(--nav-border-color);
}

.link-button:link,
.link-button:visited {
	display: block;
	color: inherit;
	border-bottom: 1px solid var(--nav-border-color);
	padding: 1em 0.5em;
	text-decoration: none;
}

.link-button--left:hover,
.link-button--left:active,
.link-button--left-active :not(.link-button--left:hover) {
	color: var(--nav-hover-color);
	background-color: var(--nav-hover-bg-color);
	border-right: 10px solid var(--nav-border-color);
}

.link-button--right:hover,
.link-button--right:active,
.link-button--right-active :not(.link-button--right-active:hover) {
	color: var(--nav-hover-color);
	background-color: var(--nav-hover-bg-color);
	border-left: 10px solid var(--nav-border-color);
}


.page-footer--list {
	margin: 0.5em 0;
	list-style-type: none;
}

.page-footer--items {
	display: inline-block;
	margin-right: 0.8em;
}

.page-footer--link,
.page-footer--link:visited {
	color: var(--footer-text-color);
	width: 100%;
	text-decoration: underline;
}

.page-footer--link:hover,
.page-footer--link:active,
.page-footer--link-active {
	color: var(--footer-active-link-color);
	text-decoration: none;
}

.pagination {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 2em 0;
}

.pagination__list {
	display: inline;
	margin-right: 0.7em;
}

.pagination__pages {
	background-color: var(--article-box-bg-color);
	border: 1px solid var(--nav-border-color);
	font-size: 1.3em;
	padding: 0.5em;
}

/* FIX for highlighted lines in code */
.chroma .hl {
	background-color: rgba(255, 255, 0, 0.1);
}

.article {
	background-color: var(--article-box-bg-color);
	margin: 2em 1em;
	border: 1px solid #132d44;
	padding: 1em;
}

.article-header {
	margin-bottom: 1em;
}

.article-header__meta {
	font-size: 0.9em;
	filter: brightness(60%);
	margin: 0.25em 0;
}

.article-header__meta__paragraph {
	margin: 0 0 0.6em 0;
}

.article-header > h1 {
	font-size: 2em;
	margin: 0;
	color: var(--headline-text-color)
}

.article-footer__tags {
	font-size: 0.9em;
	list-style: none;
	margin: 0;
	padding: 0;
}

.article-footer__tag {
	display: inline;
	margin-right: 0.5em;
}

.article-footer__read-more {
	text-align: right;
}

.highlight .chroma {
	background-color: var(--article-box-bg-color);
}

.index__submenu {
	padding-left: 1em;
	margin-left: 0.5em;
}

.index__submenu-item {
	margin-bottom: 1.5em;
	list-style-type: none;
}

.index__year {
	list-style-type: none;
	font-weight: 700;
	color: var(--headline-text-color);
}

@media screen and (max-width: 70em) {
	.container {
		height: 100vh;
		grid-template-areas:
							"header"
							"nav"
							"content"
							"sidebar"
							"footer";

		grid-template-columns: 100%;
		grid-template-rows:
							min-content
							min-content
							min-content
							min-content
							min-content;
	}

	.page-content {
		padding: 0;
	}

	.article {
		margin: 1em 0;
	}
}

@media print {
	.container {
		height: 100vh;
		grid-template-areas: "content";
		grid-template-columns: 100%;
		grid-template-rows: min-content
	}

	.article-footer__tags,
	.article-footer__read-more {
		display: none;
	}

	.article-header > h1,
	a,
	a:visited,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		color: #000;
		background-color: #fff;
	}
}