{{ define "main" }}
<article class="article">
    <div class="index">
        <h1>Index</h1>

        <ul>
            {{ with .Site.GetPage "section" "posts" }}
            {{ range .Data.Pages.GroupByDate "2006-01" }}
            <li class="index__year">
                <h4>{{.Key}}</h4>
            </li>

            <ul class="index__submenu">
                {{ range .Pages }}
                <li class="index__submenu-item">
                    <a href="{{.Permalink}}"><time>{{ .Date.Format "Jan 2, 2006" }}</time> | {{.Title}}</a>
                </li>
                {{ end }}
            </ul>
            {{ end }}
            {{ end }}
        </ul>
    </div>
</article>
{{ end }}