{{ define "main" }}
    {{ range .Paginator.Pages }}
        {{ .Scratch.Set "scope" "list" }}
        <article>

            {{ partial "article-header.html" . }}

            {{ if .Site.Params.useSummary }}
                {{ .Summary }}
                {{ partial "article-footer.html" . }}
            {{ else }}
                {{.Content}}

                {{ partial "article-footer.html" . }}
            {{ end }}
        </article>

    {{ end }}

    {{ partial "pagination.html" . }}
{{ end }}