{{ define "main" }}
    {{ .Scratch.Set "scope" "list" }}

    {{ range .Paginator.Pages }}
        <article>
            <header>
                {{ partial "article-header.html" . }}
            </header>
            {{ if .Site.Params.useSummary }}
                {{ .Summary }}

                {{ partial "article-footer.html" . }}
            {{ else }}
                {{.Content}}

                {{ partial "article-footer.html" . }}
            {{ end }}
        </article>

    {{ end }}

    {{ partial "pagination.html" . }}
{{ end }}