{{ define "main" }}
    {{ range .Paginator.Pages }}
        {{ .Scratch.Set "scope" "list" }}
        <article class="article">
            {{ partial "article-header.html" . }}

            {{ if .Site.Params.useSummary }}
                <div class="article__content">
                    {{ .Summary }}
                </div>
                {{ partial "article-footer.html" . }}
            {{ else }}
                <div class="article__content">
                    {{.Content}}
                </div>

                {{ partial "article-footer.html" . }}
            {{ end }}
        </article>

    {{ end }}

    {{ partial "pagination.html" . }}
{{ end }}