<header class="article-header">
    <h1>
        {{ if eq (.Scratch.Get "scope") "single" }}
            {{.Title}}
        {{ else }}
            <a href="{{.Permalink}}">{{.Title}}</a>
        {{ end }}
    </h1>

    <div class="article-header__meta">
        <p class="article-header__meta__paragraph">
            {{ T "written_on" }} <time>{{ .Date.Format "Jan 2, 2006" }}</time> {{ if .Params.Author }}{{ T "written_by" }} {{ .Params.Author }}{{ end }}

            {{ if .Params.categories }}
                    {{ T "category_in" }}
                    {{ range .Params.categories }}
                        <a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}">{{ . | humanize }}</a>
                    {{ end }}
            {{ end }}
        </p>
    </div>
</header>