<footer class="article-footer">
    {{ if .Site.Params.useSummary }}
        <div class="article-footer__read-more">
            <a href='{{ .Permalink }}'>{{ T "read_more" }}</a>
        </div>
    {{ end }}

    {{ if .Params.tags }}
        <ul class="article-footer__tags">
            {{ range .Params.tags }}
            <li class="article-footer__tag">
                <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">#{{ . }}</a>
            </li>
            {{ end }}
        </ul>
    {{end}}
</footer>