<aside class="page-aside-nav">
    <ul class="page-aside-nav__menu">
        {{ $current := . }}

        <li class="nav-title">{{ T "categories" }}</li>

        {{ range $key, $value := .Site.Taxonomies.categories }}
            {{ $active := (eq $key $current.Title) }}

            <li class="page-aside-nav__item{{if $active}} link-button--right-active{{end}}">
                <a class="link-button link-button--right" href="{{ .Page.Permalink | relURL }}">{{ $key | humanize }} ({{ len $value }})</a>
            </li>
        {{end}}
    </ul>
</aside>