<footer class="page-footer">
    <ul class="page-footer--list">
        {{ $current := . }}
        {{ range .Site.Menus.footer.ByWeight }}
            {{ $active := or ($current.IsMenuCurrent "footer" .) ($current.HasMenuCurrent "footer" .) }}
            {{ $active = or $active (eq .Identifier $current.Title) }}
            {{ $active = or $active (eq .Name $current.Title) }}

            <li class="page-footer--items">
                <a class="page-footer--link {{if $active}}page-footer--link-active{{end}}" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            </li>
        {{ end }}
    </ul>
</footer>
