{{ if gt .Paginator.TotalPages 1 }}
<div class="pagination">
    <ul>
    {{ if .Paginator.HasPrev }}
        <li class="pagination__list">
            <a class="pagination__pages" href="{{ .Paginator.Prev.URL }}">{{ T "pagination_backward" }}</a>
        </li>
    {{ end }}

    {{ range .Paginator.Pagers }}
        <li class="pagination__list">
            <a class="pagination__pages" href="{{ .URL }}">{{ .PageNumber }}</a>
        </li>
    {{ end }}

    {{ if .Paginator.HasNext }}
        <li class="pagination__list">
            <a class="pagination__pages" href="{{ .Paginator.Next.URL }}">{{ T "pagination_forward" }}</a>
        </li>
    {{ end }}
    </ul>
</div>
{{ end }}